body{
    font-family:  Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    background: white
}


/*MAIN*/

main{

}

/* grand bloc */

.grand_bloc{
    display: flex;
    justify-content: center;
    margin: 70px 0;
}
.gb_titre{
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    font-size: 28px;
    color: #1E3054
}

/* petit bloc */

.petit_bloc{
    margin: 20px 30px ;
    padding: 5x 10px ;
    text-align: center;
}
.petit_bloc img{
    transition: transform 0.3s ease;
}
.petit_bloc img:hover{
    transform: scale(1.2);
}
.petit_bloc h3{
    color: #5272B2;
}
.petit_bloc p{
    color: #CBB492;

}
.petit_bloc button{
    margin: 10px 20px;
    padding: 15px 92px;
    border: none;
    font-size: inherit;
    color: rgb(3, 3, 77);
    background-color: rgb(168, 168, 233);
}
.petit_bloc button:hover{
    margin: 10px 20px;
    padding: 15px 92px;
    border: none;
    font-size: inherit;
    color: white;
    background-color: rgb(31, 31, 66);
    transition: all 0.3s ease;
}





/* FOOTER*/

footer{
    color: white;
    width: auto;
}

#section1{
    display: flex;
    background:#1D2D42;
    width: inherit;

}

.gauche{
    width: 40%;  
    padding-left: 70px;  
    padding-right: 200px; 
    text-align: justify;  
}

.gauche h2{ 
    margin-top: 87px;
    margin-right: 0px;
    margin-bottom: 10px;
    font-weight: 100;
}

.droite{
    width: 60%;
}

.droite h2{
    margin-top: 87px;
    margin-right: 0px;
    margin-bottom: 10px;
    font-weight: lighter; 
}

#nom_prenom{
    display: flex;
    margin-top: 70px;
    gap: 20px;
    margin-bottom: 40px;
}

#noms input,#prenoms input{
    color: inherit;
    background: inherit;
    height: 30px;
    width: 210px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: inherit;
}

#noms input:focus,#prenoms input:focus{
    color: inherit;
    background: inherit;
    height: 30px;
    width: 210px;
    border: none;
    font-size: inherit;
}

#noms label,#prenom label {
    margin-bottom: 10px;
}

.e_mail input{
     color: inherit;
     border-color: red;
     border-radius: 5px;
     background: inherit;
     width: 440px;
     height: 30px;
     margin-bottom: 40px;
     font-size: inherit;
}

.radio{
   margin-bottom: 40px;
}

.radio input[type="radio"]{
    background-color:#1D2D42;
    border: 1px solid white;
    margin: 0 10px;
    cursor: pointer;

}


.messages textarea{
    color: inherit;
    font-size: inherit;
    background-color: inherit;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid white;
}
.droite button{
    color: inherit;
    background-color: red;
    padding: 5px 10px;
    border: none;
    margin: 20px 0;
}
img
{
    width:"228px";
     height:"238px"  
}




