body{
    font-family: Open-sans, Arial, sans-serif;
    font-size: 16px;
    font-weight: 100;
    background: white;
    justify-content: center;
    
}

main{
    justify-content: center;
    
}

/* Grand formulaire */

#Form{
    border: none;
    justify-content: center;
    text-align: center;
    margin:  0px 40px 0;
    padding: 90px 50px ;
}

/* Bouton choix Inscription-Connexion*/

.choix{
    padding: 40px 30px;
}
.choix button{
    padding: 5px 10px;
    margin: 0 10px;
    background: inherit;
    color: inherit;
    border: none;
    font-size: 20px;
}
.choix button:focus{
    padding: 5px 10px;
    margin: 0 10px;
    background: #1E3054;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s ease;

}

/* Bloc Connexion */

#formconnexion{
    border: none ;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 0px 1px grey;
}
.block{
    margin: 10px 0;
}

.block div input{
    height: 30px;
    width: 250px;
    margin-top: 10px;
    font-size: inherit;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #1E3054;
}
.block div input:focus{
    height: 30px;
    width: 250px;
    margin-top: 10px;
    font-size: inherit;
    background-color: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    
}
#formconnexion div button{
    border: none;
    border-radius: 5px;
    padding: 5px 13px;
    margin: 10px;
    height: 32px;
    width: 150px;
    font-size: inherit;
    background-color: #1E3054
}
#formconnexion div button:hover{
    border: none;
    border-radius: 5px;
    padding: 5px 13px;
    margin: 10px;
    height: 32px;
    width: 150px;
    font-size: inherit;
    background-color: #32405e;
    transition: all 0.2s ease;
}


/* Bloc Inscription */

#forminscription{
    border: none ;
    border-radius: 5px;
    padding: 10px 0px;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 0px 1px grey;
    
}

#forminscription div button{
    border: none;
    border-radius: 5px;
    padding: 5px 13px;
    margin: 10px;
    height: 32px;
    width: 150px;
    font-size: inherit;
    background-color: #1E3054
}

#forminscription div button:hover{
    border: none;
    border-radius: 5px;
    padding: 5px 13px;
    margin: 10px;
    height: 32px;
    width: 150px;
    font-size: inherit;
    background-color: #32405e;
    transition: all 0.2s ease;
}










